<div class="experience-main-container">
  <h2 class="experience-heading">📜 EXPERIENCE</h2>

  <div class="experience-content" [ngClass]="{'experience-content-dark-mode': isDarkMode}">
    <span>
      <!-- Netwrix Corporation -->
      <div class="experience-section">
        <div class="experience-item">
          <a class="logo-container" href="https://docs.netwrix.com/" target="_blank">
            <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 886 615.3"
              style="enable-background:new 0 0 886 615.3;" xml:space="preserve">
              <style type="text/css">
                .st0 {
                  fill: #DA292E;
                }
              </style>
              <path class="st0"
                d="M649.8,231.2v22.9h30.3v-22.9H649.8z M649.8,260.1v120.4h30.3V260.1H649.8z M317.4,233.2v98
                    c-0.2,7.4,1,14.9,3.5,21.9c2.1,6.1,5.5,11.7,10,16.4c4.6,4.5,10.2,7.7,16.4,9.5c7.5,2,15.2,2.5,22.9,1.5v-27.3
                    c-6,1-12.2-0.7-16.9-4.5c-4.1-4.8-6.1-11.1-5.6-17.4v-41.8h21.4v-26.9h-21.4v-29.9h-30.3V233.2z M126.8,260.1
                    c-7.5,0-14.9,1.3-21.9,4c-6.2,2.5-11.8,6.2-16.4,11c-4.6,5-8.3,10.7-10.9,16.9c-2.4,6.7-3.6,13.8-3.5,20.9V381h30.3v-69.2
                    c-0.2-6.1,2.1-12.1,6.5-16.4c4.5-4,10.4-6.2,16.4-6c4.1-0.1,8.2,0.8,11.9,2.5c2.6,1.5,4.8,3.5,6.5,6c1.4,2.3,2.4,4.8,3,7.5
                    c0.4,2,0.6,4,0.5,6v68.7h30.4v-67.2c-0.1-7.3-1.2-14.5-3.5-21.4c-2.1-6.2-5.7-11.9-10.4-16.4c-4.5-4.9-10.1-8.7-16.4-11
                    C142.1,261.4,134.5,260,126.8,260.1z M249.7,260.1c-8.1-0.2-16.1,1.5-23.4,5c-7.4,2.9-14,7.5-19.4,13.4
                    c-5.7,5.6-10.1,12.4-12.9,19.9c-9.4,23.1-4.4,49.7,12.9,67.7c5.5,5.6,12.1,10,19.4,12.9c7.4,3.2,15.3,4.9,23.4,5
                    c13.2,0.6,26.1-3.3,36.8-11c9.7-7.3,16.7-17.6,19.9-29.4h-32.3c-2.2,4.8-6.1,8.5-11,10.5c-9.2,4-19.7,4-28.9,0
                    c-4.3-2.3-8-5.6-10.9-9.5l83.1-34.8c-2.2-14.2-9.5-27-20.4-36.3c-5-4.4-11-7.6-17.4-9.5C262.7,261.4,256.2,260,249.7,260.1
                    L249.7,260.1z M249.7,287c4.6,0,9.1,0.9,13.4,2.5c3.9,1.8,7.4,4.5,10,8l-55.2,23.4c0.1-4.7,0.9-9.5,2.5-13.9c1.7-3.8,4.1-7.4,7-10.5
                    c2.8-3,6.2-5.4,10-7C241.2,287.6,245.5,286.8,249.7,287L249.7,287z M626.4,260.1c-5.4-0.1-10.7,0.6-15.9,2
                    c-7.2,1.9-13.9,5.4-19.4,10.5c-5.5,4.7-9.8,10.7-12.4,17.4c-2.9,7.3-4.3,15.1-4,22.9V381h30.3v-68.2c-0.4-7.4,2.8-14.6,8.5-19.4
                    c6.8-4.7,15.3-6.3,23.4-4.5v-28.4C633.3,260.6,629.8,260.1,626.4,260.1z M690.5,262.6l40.8,57.2L688.6,381h36.8l24.4-36.8l23.9,36.8
                    H812l-43.8-62.2l40.3-56.2h-36.8l-21.9,32.9l-20.9-32.8L690.5,262.6z M381.5,263.1v67.7c-0.2,7.3,1,14.5,3.5,21.4
                    c2.4,6.2,5.9,12,10.5,16.9c4.8,4.6,10.3,8.3,16.4,11c7,2.7,14.4,4,21.9,4c7.4,0.1,14.7-1.4,21.4-4.5c6.4-2.8,12-7.1,16.4-12.4
                    c4.5,5.1,9.9,9.3,15.9,12.4c6.9,3.1,14.4,4.6,21.9,4.5c7.5,0,14.9-1.4,21.9-4c6.1-2.6,11.6-6.4,16.4-11c4.7-4.9,8.4-10.6,10.9-16.9
                    c2.6-6.7,4-13.7,4-20.9v-68.2h-30.4v68.7c0.2,6.1-2.1,12.1-6.5,16.4c-4.5,4.1-10.4,6.2-16.4,6c-4.1,0.1-8.2-0.8-12-2.5
                    c-2.7-1.3-5-3.4-6.5-6c-1.4-2.3-2.4-4.8-3-7.5c-0.4-2.1-0.6-4.3-0.5-6.5v-68.7h-30.3v68.7c0.6,11.8-8.5,21.8-20.3,22.4
                    c-0.9,0-1.7,0-2.6,0c-4,0.2-7.9-0.7-11.4-2.5c-2.7-1.3-5-3.4-6.5-6c-1.4-2.3-2.4-4.8-3-7.5c-0.4-2.1-0.6-4.3-0.5-6.5v-68.7H381.5z" />
            </svg></a>
          <div class="experience-details">
            <h3 class="job-title">Software Engineer</h3>
            <p class="company-info">Netwrix | Novemeber 2022 - Present</p>
            <ul class="job-description-list">
              As a Software Engineer at Netwrix, I have been deeply involved in developing and maintaining the
              <a class="groupid" href="https://www.imanami.com/wp-content/uploads/2023/11/Netwrix-GroupID.mp4"
                target="_blank">
                Netwrix
                Directory Manager (formerly GroupID)
              </a>
              product. Directory Manager automates and delegates group and
              user
              management, enabling organizations to maintain
              accurate directories. The tool also reduces manual work and improves directory accuracy, helping IT teams
              focus on security and
              compliance. In this role, I have contributed to core feature development, performance optimizations, and
              customer support for the product.

              <strong class="experience-key-contibution">Key Contributions</strong>
              <li>Fixed 800+ bugs across all product modules, significantly improving stability, reliability, and
                overall software quality.</li>
              <li>Overhauled the Reports module: implemented a modern UI interface, fixed multiple bugs,
                made it stable (and continue to manage this module).</li>
              <li>Enhanced directory synchronization: implemented new workflow capabilities for synchronize module</li>
              <li>Delivered urgent new features for high-profile enterprise clients (Fortune 50 companies in finance and
                technology) under tight deadlines, tailoring solutions to demanding requirements.</li>
              <li>Collaborated directly with customers in healthcare, technology, and global enterprise sectors to
                troubleshoot issues, resolve escalations, and provide expert maintenance support.</li>
              <li>Dramatically improved performance and memory usage by profiling and optimizing key components
                (reducing peak memory consumption from ~90% to ~35%).</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Imanami Corporation -->
      <div class="experience-section">
        <div class="experience-item">
          <a class="logo-container" href="https://www.imanami.com/" target="_blank">
            <img src="https://www.citysearch.pk/uf/companies/7806/imanami-logo.png" alt="Imanami Logo">
          </a>
          <div class="experience-details">
            <h3 class="job-title">Software Engineer</h3>
            <p class="company-info">Imanami Pakistan | February 2022 - Novemeber 2022</p>
            <ul class="job-description-list">
              As a Software Engineer at Imanami, I have developed and maintained multiple features for the <a
                href="https://www.imanami.com/synchronize/" class="groupid-synchronize" target="_blank">Synchronize</a> module of GroupID.
              I actively contributed to the release of GroupID version 11, which introduced significant enhancements to
              both the product's functionality and user interface.
              This release marked a major shift for the product, transitioning from a WinForms-based UI to a modern
              web-based interface.

              <strong class="experience-key-contibution">Key Contributions</strong>
              <li>Developed and maintained key features of GroupID's <a
                href="https://www.imanami.com/synchronize/" class="groupid-synchronize" target="_blank">Synchronize</a> module.</li>
              <li>Collaborated closely with QA teams to identify and resolve bugs, ensuring high-quality code and
                reliable system performance.</li>
              <li>Partnered with UI/UX Engineers to implement intuitive designs, optimizing usability and ensuring that
                the application aligned with the compan's design standards</li>
              <li>Actively participated in knowledge-sharing sessions, building a foundation for ongoing professional
                development in software engineering.</li>

              <span>Transitioned to Netwrix following its acquisition of Imanami in November 2022.</span>
            </ul>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>