<div class="about-main-container">
  <h2 class="about-heading">🧑‍💻 About</h2>

  <div class="about-content" [ngClass]="{'about-content-dark-mode': isDarkMode}">
    <span>
      I’m a Software Engineer specializing in .NET, Angular, and enterprise software systems. 
      With experience delivering solutions for high-profile clients across industries, including Fortune 50 companies. 
      I excel at building efficient, scalable, and user-friendly applications. I combine strong technical skills with the ability to work directly with customers to understand needs,
      solve problems, and deliver results that matter.
    </span>
  </div>
</div>
